APP_NAME=Complexe-Agadir
APP_ENV=local
APP_KEY=base64:latTOgu4ByWF0w6m6eFP2QYDxIAwWTm8VtGaToUDl2U=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

NOVA_LICENSE_KEY=TJmvn1rvQDzKQUwe0IYpw24UYPwjT7S1YauoTKXAcBfPBEJACi

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cha-agadir
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mail.cha-agadir.ma
MAIL_PORT=465
MAIL_USERNAME="contact@cha-agadir.ma"
MAIL_PASSWORD="01233378Marie@@"
MAIL_ENCRYPTION=ssl


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=bed4d3d0d373459c9a60a3bff3500eb2
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY=bed4d3d0d373459c9a60a3bff3500eb2
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
